body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1533873984035-25970ab07461?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 1rem 1rem 10rem rgba(0, 0, 0, 0.9);
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.05rem solid transparent;
  text-shadow: none;
}

.nav-link:hover {
  position: relative;
  top: -2px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.9);
}

.nav-link.active {
  color: white;
  border-bottom: 0.05rem solid white;
  position: static;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}
