<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-2 mb-5">
  <div class="row">
    <div class="col-md-5 col-xl-8 offset-xl-2">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1524007769096-2dad448565c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=589&q=80"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Looks Good!</div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" required />
              <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="d-grid gap-2 col-12 mx-auto mt-3">
              <button class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
